body{
    background-color: rgb(19, 22, 66);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/silhouette-photography-of-man-and-woman-beside-trees-during-1024973.JPG);
    background-size: cover;
}

.clr {
    clear: both;
}

.instructions {
    margin: 20px;
    padding: 10px;
    background:rgba(255, 255, 255, 0.795);
    color: red;
    border-radius: 1em;
    font-size: 13px;
}

button {
    background: black;
    color: darkcyan;
    border-radius: .5em;
    padding: 7px;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
    background: rgba(0, 139, 139, 0.507);
    color: white;
    padding: 7.3px;
}

h1 {
    margin: 0;
    font-size: 26px;
    font-weight: 600 ;
    color: white;
}

.wrapper {
    width: 80%;
    height: 63%;
    border: solid 1px rgb(17, 15, 15);
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 1.5em;
    margin: auto;
    background: rgba(84, 25, 233, 0.424);
    color: black;
}

.kanmi {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    left: 10%;
    color: rgb(70, 233, 245);

}

a {
    color: red;
    text-decoration: none;
    font-weight: 600;
    margin: 10px;
}

.box {
    width: 50%;
   /* border: 1px solid ; */
    margin: 5%  0 0 0 ;
    float: left;
    box-sizing: border-box;
}

.player-0 {
    background: rgba(231, 47, 154, 0.438);
}

.player-1 {
    background: rgba(92, 238, 109, 0.603);
}

.player-score {
    margin: 5% 0 0 38%;
    font-size: 44px;
    color: rgb(213, 210, 224);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid;
    background: black;
    width: 30%;
}

.button-new {
    margin:  8% 0 0 0;
    /*border: 1px solid;*/
}

.btn-new:hover {
    background: rgba(10, 8, 8, 0.643);
    color: red;
    border: 1px solid;

}

.active {
    background: black;
    font-weight: 800;
    color: red;
    border-radius: .4em;
}

.activ{
    background: black;
    font-weight: 800;
    color: red;
    border-radius: .4em;
    width: 30%;
}

.scoreboard {
    width: 50px;
    height: 25px;
    border: 1px solid green;
    border-radius: .4em;
    padding: 5px;
    margin: 2px;
    background-color: white;
    color: black;
    font-size: 16px;
    text-align: center;

}

.ent {
    color: rgb(96, 92, 165);
    background: rgb(222, 222, 231);
    width: 450px;
    margin-bottom: -1px;
    border-radius: .6em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}


img {
    width: 60px;
    border-radius: .3em;
    margin-top: -24% ;
}

/*.dicey {
        width: 60px;
        border-radius: .3em;
        margin-top: -10% ;
}*/

.current-score{
    margin: 30% 0 0 40%;
    width: 23%;
    background: white;
    border: 1px solid rgba(211, 31, 202, 0.856);
    color: red;
    border-radius: .5em;
    font-weight: 650;
}
 
@media (max-width:800px) {
    .activ{
    background: black;
    font-weight: 800;
    color: red;
    border-radius: .4em;
    width: 35%;
}
}
@media (min-width:800px) {
    .wrapper{
        height: 70%;
    }
    img {
        width: 70px;
        border-radius: .3em;
        margin-top: -21% ;}

}
@media (min-width: 1024px) {
    .wrapper{
        height: 80%;
    }
    img {
        width: 80px;
        border-radius: .3em;
        margin-top: -19% ;}
}

@media (min-width: 1200px) {
    .wrapper{
        height: 90%;
    }
    img {
        width: 90px;
        border-radius: .3em;
        margin-top: -15% ;}
}


/*

.new-style {
    font-family : Arial, Helvetica, sans-serif;
    color : rgb(243, 243, 243);
    font-size : 16px;
    background-color : darkcyan;
}

/*
.drop-zone {
    background-color: white;
    width: 300px;
    padding: 20px;
    border: 2px dashed #000;
    }
    
#dropStatus {
    color: white;
}

.box {
    width: 100px;
    height: 100px;
}
.red {
    background: yellow;
}
*/
